button.Navbt {
    padding: 0px;
    margin: 0px;    
    /* margin-left: -15px;
    margin-right: -15px; */
}

a.navTab3 {
    color:white!important;
    font-family: 'Savoy Regular'!important;
    font-size: x-small!important;
    margin: 0px; 
    padding: 1px;
    min-width: 0px;
} 

.navTab3.Mui-selected span{
    background-color:#419078!important;
    z-index: -1;
}

a.navTab3.Mui-selected{ 
    
font-family: 'Savoy Regular'!important;
text-decoration: underline;
    z-index: 99;
}
