.navTab{
    color:white!important;
    font-family: 'Savoy Regular'!important;
    border-right: 1px solid white!important;
    border-left: 1px solid white!important;
    font-size: small!important;
}

.navTab .Mui-selected{
    color:grey!important;
    font-family: 'Savoy Regular'!important;
    text-decoration: underline;
}