@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}
html body{
  height:100vh;
  overflow: hidden;
  color: inherit;
}

@font-face {
  font-family: 'Savoy Regular';
  src: url('assets/Savoy_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


.link-style1 {
  text-decoration: none;
  color: white;
  font-family: "Savoy Regular"!important;
}


.link-style2 a, .link-style2 span {
  text-decoration: none!important;
  color: white;
  font-family: "Savoy Regular"!important;
  text-transform: uppercase;
  font-style: normal;
}

.bg1 {
  background-image: url('/assets/images/gw-bg.jpg')!important;
  padding-bottom: 100%;
  background-size: auto;
  background-repeat: repeat;
}

.scrollable {
  overflow: scroll;
}