@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


*{
  padding:0;
  margin: 0;
  box-sizing: border-box;

}


@font-face {
  font-family: 'Savoy Regular';
  src: url('assets/Savoy_Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Book';
  src: url('assets/Avenir-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'An Either Lifetime';
  src: url('assets/An-Either-Lifetime.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html body{
  font-family: 'Avenir Book';
  height:100vh;
  overflow: hidden;
  color: #707070;
}


.link-style1 {
  text-decoration: none;
  color: white;
  font-family: "Savoy Regular"!important;
}


.link-style2 a, .link-style2 span {
  text-decoration: none!important;
  color: white;
  font-family: "Savoy Regular"!important;
  text-transform: uppercase;
  font-style: normal;
}

.bg1 {
  background-image: url('/assets/images/gw-bg.jpg')!important;

  background-size: auto;
  background-repeat: repeat;
}

.scrollable {
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

.scrollable-x {
  overflow-x: scroll ;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

.scrollable-y {
  overflow-y: scroll ;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .scrollable-y::-webkit-scrollbar {
  display: none;
}

